.sidebar {
    width: 250px; /* Sidebar width */
    background-color: #2c3e50;
    padding-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    border-right: 1px solid #fff;
    position: fixed; /* Sidebar remains fixed */
    top: 60px; /* Below navbar */
    left: 0;
    height: calc(100vh - 60px); /* Remaining vertical space */
}

.sidebar-button {
    width: 90%;
    margin: 10px 0;
    padding: 15px;
    align-self: center;
    background-color: #34495e;
    color: white;
    border: 1px solid #fff;
    border-radius: 5px;
    font-size: 16px;
    cursor: pointer;
    text-align: center;
    transition: background-color 0.3s;
}

.sidebar-button:hover {
    background-color: #1abc9c;
}

