fastapi
uvicorn
sqlalchemy
alembic
pydantic
mysqlclient
pydantic[email]
python-jose[cryptography]==3.3.0
passlib[bcrypt]==1.7.4
python-multipart==0.0.6
pymysql==1.1.0
python-dotenv==1.0.0
pytest==7.4.3
httpx==0.25.1